*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* color: #fff; */
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
/* #header{
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/kachouie/Lab-Photo/main/2021/bg2.jpg);
    background-position: 127% top;
    background-size: cover;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
} */

#header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #080808; /* Background color for the header */
}


/* .container{
    padding: 10px 10%;
} */

.container {
    padding: 10px 10%;
    width: 100%;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav{
    width: 80%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 2px 15px #ad966d;
    z-index: 999;
}
nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; /* Ensure the ul takes full width */
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    flex-grow: 1;
    text-align: center;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ad966d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* .header-text{
    margin-top: 25%;
    font-size: 25px;
} */
.header-text {
    width: 45%; /* Make the text container take 45% of the width */
    font-size: 25px;
    /* color: #ad966d; */
}
.header-text h1 span {
    color: #ad966d; /* Color for the span within h1 */
}

.header-text p {
    color: #fff; /* Color for all paragraphs */
}
/* .header-text h1{
    font-size: 45px;
    margin-top: 23px;
} */

.header-text h1 {
    font-size: 2.5vw; /* Responsive font size */
    margin-top: 2vh;
    white-space: nowrap;
}

.header-image {
    width: 50%; /* Make the image container take 50% of the width */
    margin-top: 5%;
}
.header-image img {
    width: 100%;
    max-height: 80vh; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without stretching */
    border-radius: 10px; /* Optional: Add rounded corners to the image */
}
.header-text h1 span{
    color: #ad966d;
}
.header-text p{
    font-size: 23px;
}
/*-----about-----*/
#about{
    padding: 80px 0;
    /* color: rgb(137, 137, 137); */
    padding-top: 120px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    /* color: rgb(137, 137, 137); */
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ad966d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 70%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ad966d;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* Coursework */
#coursework{
    /* margin-top: 50px; */
    padding: 30px 0;
}
.coursework-list{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.coursework-list div{
    background: #080808;
    box-shadow: 0px 2px 15px #ad966d;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 11px;
    transition: background 0.5s, transform 0.5s;
}
/* .coursework-list div i{
    font-size: 30px;
    margin-bottom: 30px;
} */
.coursework-list div h2{
    color: #ad966d;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.coursework-list div p{
    font-size: 15px;
    /* color: rgb(137, 137, 137); */
    color: #fff;
}
.coursework-list div a{
    text-decoration: none;
    color: #ad966d;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.coursework-list div:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 20px #ad966d;

}
/* project */
#project{
    padding: 50px, 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30.33%, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ad966d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ad966d;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ad966d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ad966d;
}
/* contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    /* color: rgb(129, 22, 22); */
    color: #fff;
}
.contact-left p i{
    color: #ad966d;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    /* color: rgb(137, 137, 137); */
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ad966d;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ad966d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ad966d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #080808;
    color: #fff;
    transition: background 0.5s;
    margin-left: 0px;
}
.btn.btn2:hover{
    background: #ad966d;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ad966d;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #ad966d;
    font-weight: 300;
    margin-top: 20px;
}
/* css small screen */
nav .fas{
    display: none;
}


@media only screen and (max-width: 768px){
    .header-image {
        display: none;
    }

    /* Center and adjust the text */
    .content-wrapper {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        text-align: center; /* Center-align text */
        width: 80%;
        margin: 0 auto;
    }

    .header-text {
        margin-top: 15vh; /* Increase top margin for better spacing */
        width: 100%; /* Adjust font size */
    }

    .header-text h1 {
        font-size: 5vw; /* Larger font size for mobile screens */
        color: #ad966d; /* Ensure color consistency */
        margin-bottom: 1vh;
        white-space: normal; /* Prevent line break */
    }

    .header-text p {
        font-size: 4vw; /* Increase paragraph font size for readability */
        color: #fff; /* Ensure paragraphs remain white */
        line-height: 1.5; /* Improve line spacing for readability */
        margin: 0.5vh 0;
    }
    .header-text p:nth-of-type(1) {
        font-size: 3vw; /* Line for "Associate Professor" */
    }

    .header-text p:nth-of-type(2) {
        font-size: 3vw; /* Line for "Mathematics and Systems Engineering" */
    }

    .header-text p:nth-of-type(3) {
        font-size: 3vw; /* Line for "College of Engineering and Science" */
    }
    nav .fas{
        display: block;
        font-size: 25px;
        margin-right: 8px;
    }
    nav ul{
        background: #ad966d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        flex-direction: column;
        overflow-y: auto;
    }
    nav ul li{
        display: block;
        margin: 25px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    .hamburger {
        position: absolute;
        right: 8px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .coursework-list{
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #ad966d;
    margin-top: -40px;
    display: block;
}
